@import "tailwindcss";

@theme {
}

@layer base {
  .bg {
    @apply bg-white dark:bg-[#202020];
  }

  /* 设置naive-ui的模态框自定义title样式类 */
  .naive-modal-title {
    @apply !font-bold border-b pb-2 border-gray-300 dark:border-gray-700;
  }
}

@layer utilities {
  /* 覆盖全局 scrollbar.css，用于不需要滚动条的横向/纵向容器 */
  .scrollbar-none {
    scrollbar-width: none !important;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

/* 根据自己选择器修改 */
[data-bs-theme="dark"]::view-transition-old(root) {
  z-index: 2147483646;
}

[data-bs-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}

/* 添加自定义 dark variant */
@custom-variant dark (&:where(.dark, .dark *));
